@import url('https://fonts.googleapis.com/css?family=Encode+Sans&display=swap');

/* GLOBAL */

body {
    font-family: 'Encode Sans', sans-serif;
    background-color: white;
    margin: 0;
}

img {
    width: 100%;
    height: auto;
}

input {
    border: 0;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.white-text-link {
    color: white;
    text-decoration: underline;
}

.white-text-link:hover {
    color: gold;
}

hr {
    border: 0.5px solid white;
}

.sub-heading {
    color: rgba(128, 128, 128, 0.795);
}

.left-item {
    order: -1;
}

.right-item {
    order: 1;
}

input {
    border: 0;
}

/* BUTTONS */

button {
    border: 0;
}

.send-button {
    /* background-color: rgba(10, 153, 8, 0.788); */
    background-color: rgb(4, 184, 100);
    color: white;
    border-radius: 14px;
    width: 6em;
    height: 30px;
    line-height: 50%;
    float: right;
    font-size: 16px;
    font-weight: bold;
}

.send-button:hover {
    background-color: rgb(2, 139, 75);
    /* background-color: rgb(4, 184, 100); */
    color: white;
    transition: background-color 0.5s;
}

.submit-button {
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: white;
    color: rgb(4, 184, 100);
    font-size: 16px;
    font-weight: bold;
    line-height: 27px;
}

.submit-button:hover {
    background-color: rgb(4, 184, 100);
    color: white;
    transition: background-color 0.5s;
}

.more-details-button {
    background-color: white;
    color: #0077B9;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    line-height: 45px;
    border-radius: 16px;
    width: 300px;
}

.more-details-button:hover {
    background-color: gold;
    color: white;
    transition: background-color 0.5s;
}

/* NAVBAR */

header {
    height: 60px;
    text-align: center;
    background-color: white;
    position: fixed;
    z-index: 999;
    width: 100%;
    top: 0%;
}

.nav-logo {
    height: 100%;
    padding: 5px 0px;
}

.nav-toggle {
    display: none;
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

.nav-toggle-label {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
    display: block;
    background: black;
    height: 3px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
    content: '';
    position: absolute;
}

.nav-toggle-label span::before {
    bottom: 7px;
}

.nav-toggle-label span::after {
    top: 7px;
}

nav {
    position: absolute;
    text-align: left;
    right: 0%;
    top: 100%;
    background-color: white;
    transform: scale(1,0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;
}

.nav-ul {
    margin-top: 1em;
    padding: 0;
    list-style: none;
}

.nav-li {
    margin-bottom: 1em;
    margin-left: 1em;
}


nav a {
    color: #1160BC;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

nav a:link {
    text-decoration: none;
}

/* HOME PAGE */

#home-youtube-intro {
    width: 80%;
    height: 480px;
    padding-top: 50px;
}

/* CARD DECK */

.card-deck {
    padding: 0% 10% 2% 10%;
    position: center;
    width: 100%;
    /* background-image: radial-gradient(white 70%, rgb(194, 194, 194)); */
}

.card-link .card:hover {
    box-shadow: -5px 5px 10px 5px rgba(177, 177, 177, 0.616);
    transition: box-shadow 0.2s;
}

.card-link {
    color: black;
    border: 0;
}

.card-link:hover {
    color: #114266;
}

.header{
    color: white;
    text-align: center;
    min-height: 50px;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
    z-index: 300;
}

.footer{
    margin: auto;
    text-align: center;
    color: white;
    background-color: black;
    min-height: 200px;
    position: absolute; /* Set the navbar to fixed position */
    bottom: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.footer-left {
    float: left;
    width: 25%;
}

.footer-center {
    float: center;
    width: 50%;
    text-align: center;
}

.footer-right {
    float: right;
    width: 25%;
}

.footer-logo {
    width: 100px;
    height: 100px;
}

#home-greeting {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: space-around;
    flex-direction: row;
    background-image: linear-gradient(to left top, #114266 80%, white);
    background-color: #114266;
}

#home-greeting-img-container {
    order: -1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em 0;
}

#home-greeting-img {
    width: 250px;
    height: 250px;
}

#home-greeting-text {
    order: 1;
    color: white;
    padding: 0 3em;
}

.intro-video {
    text-align: center;
    margin: 2% 0% 4% 0%;
}

#invite-to-about {
    background-color: #0077b9;
    margin: 1% 0% 0% 0%;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#about-invitation {
    order: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    height: 250px;
    width: 50%;
    padding: 1%;
}

#explore-button {
    padding: 0px 15px;
    height: 40px;
    background-color: white;
    border-radius: 20px;
    border: 0;
    color: #0077b9;
    font-size: 18px;
    min-height: 40px;
    height: auto;
    order: 1;
}

#explore-button:hover {
    background-color: gold;
    color: white;
    transition: background-color 0.5s;
}

.ten-kids-picture-container {
    order: 2;
    height: 250px;
    width: auto;
}

.ten-kids-picture {
    height: inherit;
    width: inherit;
}

/* NEWSLETTER FORM */

.newsletter-form-container {
    height: 180px;
    background-color: #114266;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

#email-newsletter-form {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#newsletter-input {
    border-radius: 10px;
    margin: 0% 2% 0% 0%;
    width: 225px;
}

/* ESSENTIAL OILS */

.ee-page-container {
    margin: 60px 0px 0px 0px;
    padding: 0% 1%;
}

.kit-row {
    height: 321px;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0px 0px 5px 0px;
}

.kit-row-left-odd {
    background-color: #11222dc5;
    width: 5%;
}

.kit-row-center-odd {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kit-row-right-odd {
    background-color: #0077B9;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.kit-row-left-even {
    background-color: #11222dc5;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.kit-row-center-even {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kit-row-right-even {
    background-color: #0077B9;
    width: 5%;
}

.odd-button {

}

.even-button {

}

.kit-name {
    color: #0077B9;
    font: 36px bold;
}

.kit-description {
    font-size: 24px;
    padding: 2%;
    text-align: center;
}

.ee-kit-image {
    height: 273px;
    width: auto;
}

/* ANSWERS WITH AMY */

.awa-page-container {
    display: flex;
    flex-direction: column;
    margin: 60px 0px 0px 0px;
    padding: 0% 1%;
}

#blog-title-container {
    order: 1;
}

#featured-blog-entries {
    order: 2;
}

#awa-more-topics {
    order: 3;
}

.more-topics {
    background-color: white;
    padding: 1% 0% 0% 0%;
    text-align: center;
    border: 5px gold solid;
    border-radius: 5px;
}

.topic-list {
    text-align: center;
}

li.topic {
    display: inline-block;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    padding: 5px;
}

li.topic:hover {
    color: white;
    background-color: #114266;
    transition: background-color 0.8s;
}

.blog-deck {
    margin: 0% 0% 2% 0%;
    padding: 0;
    background-color: white;
}

.blog-card {
    padding: 0;
    margin: 0;
}

.blog-title-container {
    padding: 2%;
}

.blog-hr {
    border: #0077B9 10px solid;
}


/* ABOUT PAGE */

.about-page-container {
    margin: 60px 0px 0px 0px;
    display: flex;
    flex-direction: row;
}

#about-amy {
    width: 30%;
    color: white;
    background-color: #0077B9;
    margin: 0;
    text-align: center;
}

#about-amy-pic {
    margin-top: 1em;
    width: 150px;
    height: 150px;
}

#about-amy-text {
 padding: 0em 1em;
}

/* INTERACTIVE FAMILY PAGE */

#about-family {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 70%;
    height: 80%;
    margin: 0;
    padding-top: 1em;
    position: relative;
}

#about-family-row-1 {
    display: flex;
    flex-direction: row;
    order: 1;
    justify-content: center;
}

#about-family-row-2 {
    display: flex;
    flex-direction: row;
    order: 2;
    justify-content: center;
}

#about-family-row-3 {
    display: flex;
    flex-direction: row;
    order: 3;
    justify-content: center;
}

/* About info Dot */
#about-family-row-4 {
    display: flex;
    flex-direction: row;
    order: 4;
    justify-content: center;
    margin: -18% 0% 0% 0%;
}

#about-family-row-5 {
    display: flex;
    flex-direction: row;
    order: 5;
    justify-content: center;
}

#about-family-row-6 {
    display: flex;
    flex-direction: row;
    order: 6;
    justify-content: center;
}

#about-family-row-7 {
    display: flex;
    flex-direction: row;
    order: 7;
    justify-content: center;
}

#about-info-dot {
    width: 42%;
    height: 40%;
    background-color: white;
    /* border: 3px solid #0077B9; */
    border-radius: 5%;
    position: absolute;
    left: 29%;
    top: 30%;
    overflow: auto;
    z-index: 1;
}

#about-info-text {
    font-size: 15px;
    text-align: center;
    padding: 10px 0px;
    line-height: 1.75;
    display: inline-block;
    vertical-align: middle;
}

.profile {
    width: 15%;
    height: 15%;
    z-index: 2;
}

.profile:hover {
    /* border: 1px solid gold; */
    border-radius: 50%;
    box-shadow: 0 0 10px gold;
    transition: box-shadow .5s;
}

#glen-profile {
    margin-right: 1%;
}

#amy-profile-about {

}

#tanner-profile {
    margin-right: 30%;
    margin-top: -9%;
}

#ivy-profile {
    margin-top: -9%;
}

#katy-profile {
    margin-right: 45%;
    margin-top: -2%;
}

#chelsea-profile {
    margin-top: -2%;
}

#natalie-profile {
    margin-right: 45%;
    margin-top: 0%;
}

#tim-profile {
    margin-top: 0%;
}

#dylan-profile {
    margin-right: 30%;
    margin-top: -2%;
}

#megan-profile {
    margin-top: -2%;
}

#meri-profile {
    margin-right: 1%;
    margin-top: -9%;
}

#chad-profile {
    margin-top: -9%;
}

/* CONTACT PAGE */

.contact-page-container {
    margin: 60px 0px 0px 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0% 1%;
}

#contact-left {
    order: 1;
    margin: 3%;
}

#contact-right {
    order: 2;
    width: 20%;
    background-color: #114266;
    margin-left: 1%;
    color: white;
}

#contact-page-hr {
    border: #0077B9 10px solid;
}

#contact-name-label {
    order: 0;
    padding: 8px 8px 8px 8px;
}

#contact-name-input {
    order: 1;
    border-radius: 10px;
    background-color: #E5E5E5;
}

#contact-email-label {
    order: 2;
    padding: 4px 8px 4px 8px;
}

#contact-email-input {
    order: 3;
    border-radius: 10px;
    background-color: #E5E5E5;
}

#contact-message-label {
    order: 4;
    padding: 4px 8px 4px 8px;
}

#contact-message-input {
    order: 5;
    width: 100%;
    height: 150px;
    border-radius: 10px;
    border: 0;
    background-color: #E5E5E5;
}

#contact-page-send {
    margin-top: 10px;
}

/* FOOTER CSS */

#myFooter {
    background-color: #182c39;
    color: white;
    position: absolute;
    width: 100%;
}

#map-container {
    height: 240px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 10px;
}

#myFooter .row {
    margin: 0 85px;
}

#myFooter .footer-copyright {
    background-color: #10222e;
    padding-top: 3px;
    padding-bottom: 3px;
    text-align: center;
}

#myFooter .footer-copyright p {
    margin: 10px;
    color: #ccc;
}

#myFooter .social-networks {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 38px;
}

.email-icon {
    width: 60px;
    height: 60px;
    border-radius: 51%;
    transition: background-color 0.2s;
}

.email-icon:hover {
    background-color: green;
    box-shadow: 0 0 8px green;
}

.facebook-icon {
    margin: 0% 5%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    transition: background-color 0.2s;
}

.facebook-icon:hover {
    background-color: #3b5998;
    box-shadow: 0 0 8px #3b5998;
}

.linkedin-icon {
    width: 60px;
    height: 60px;
    border-radius: 51%;
    transition: background-color 0.2s;
}

.linkedin-icon:hover {
    background-color: #0077B5;
    box-shadow: 0 0 8px #0077B5;
}


#myFooter .fa {
    font-size: 30px;
    margin-right: 15px;
    margin-left: 20px;
    background-color: white;
    color: #182c39;
    border-radius: 51%;
    padding: 10px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 31px;
    text-decoration: none;
    transition: color 0.2s;
}

#myFooter .fa-envelope:hover {
    color: green;
}

#myFooter .fa-envelope:focus {
    color: green;
}

#myFooter .fa-facebook:hover {
    color: #3b5998;
}

#myFooter .fa-facebook:focus {
    color: #3b5998;
}

#myFooter .fa-linkedin:hover {
    color: #0077B5;
}

#myFooter .fa-linkedin:focus {
    color: #0077B5;
}


/* WHEN MOBILE */
@media screen and (max-width: 800px) {
    #myFooter {
        text-align: center;
    }
    #myFooter .row {
        margin: 0;
    }

    .contact-and-newsletter {
        flex-direction: column;
    }

    #home-greeting { 
        flex-direction: column;
    }

    .about-page-container {
        flex-direction: column;
    }

    #about-family {
        /* text-align: center; */
    }

    #about-amy {
        width: 100%;
    }

    #home-greeting-text {
        padding: 0;
    }

    .about-page-container {
        flex-direction: column;
    }

}

/* MIDSIZE */
@media screen and (max-width: 1360px) {

    #invite-to-about {
        flex-direction: column;
        justify-content: center;
    }

    .ten-kids-picture-container {
        height: auto;
        width: 100vw;
    }
    
    .ten-kids-picture {
        height: inherit;
        width: inherit;
    }
}

  

/* WHEN FULL SCREEN */
@media screen and (min-width: 800px) {

    /* NAVBAR */
    .nav-toggle-label {
        display: none;
    }

    header {
        display: flex;
        justify-content: space-around;
    }

    nav {
        all: unset;
        display: flex;
        align-items: center;
    }

    .nav-ul {
        display: flex;
        color: grey;
        opacity: 1;
    }

    .nav-li {
        margin-bottom: 0;
    }

    nav a {
        opacity: 1;
        position: relative;
    }

    nav a::before {
        content: '';
        display: block;
        height: 5px;
        background: #114266;
        position: absolute;
        top: -.75em;
        right: 0;
        left: 0;
        transform: scale(0,1);
        /* transform-origin: left; */
        transition: transform ease-in-out 250ms;
    }

    nav a:hover::before {
        transform: scale(1,1);
    }
}

/* CSS Grid */
#product-list {
    flex: 4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    background-color: white;
    padding: 10px 0px 0px 30px;
    overflow-y: scroll;
}